# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data & Models
*.zip
insightforge_faiss_index/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Streamlit
.streamlit/
